{{ define "main" }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1>{{ .Title | title }} </h1>
  <div class="content" itemprop="articleBody">
    {{ if (eq .Type "tags")}}
    <div id="tags">
      {{ if (eq (len .Data.Terms) 0) }}
      <div class="tag-list-title">
        No tags
      </div>
      {{ end }}
      <div class="tag-list">
        <ul class="tag-list">
          {{ range .Data.Terms.Alphabetical }}
          <li class="tag-list-item">
            <a class="tag-list-link" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
            <span class="tag-list-count">{{ .Count }}</span>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
  </div>
</article>
{{ end }}