<header id="header">
  {{ if (isset .Params "categoryheaderlogo" ) }}
  <a href="/{{ .Params.category }}">
    <div id="logo" style="background-image: url({{ .Params.categoryHeaderLogo | absURL }})"></div>
  </a>
  {{ else if (isset .Site.Params "gravatar") }}
  <a href="/">
    <div id="logo" style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  </a>
  {{ else if (isset .Site.Params "logo") }}
  <a href="/">
    <div id="logo" style="background-image: url({{ .Site.Params.logo | absURL }})"></div>
  </a>
  {{ else }}
  <a href="/">
    <div id="logo" style="background-image: url({{ "https://placehold.co/50x50" | absURL }})"></div>
  </a>
  {{ end }}
  
  <div id="title">
    {{ if (isset .Params "categoryheadersubtitle" ) }}

    {{ if (isset .Params "categoryheadertitle" ) }}
    <a href="/{{ .Params.category }}">
      <h1>{{ .Params.categoryHeaderTitle }}</h1>
    </a>
    {{ else }}
    <a href="/">
      <h1>{{ .Site.Title }}</h1>
    </a>
    {{ end }}
    <a href="/{{ .Params.category }}">
      <h2 id="subtitle">{{ .Params.categoryHeaderSubtitle }}</h2>
    </a>

    {{ else }}

    {{ if (isset .Params "categoryheadertitle" ) }}
    <a id="main-title" href="/{{ .Params.category }}">
      <h1>{{ .Params.categoryHeaderTitle }}</h1>
    </a>
    {{ else }}
    <a id="main-title" href="/">
      <h1>{{ .Site.Title }}</h1>
    </a>
    {{ end }}

    {{ end }}
    
  </div>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#" aria-label="Menu"><i class="fas fa-bars fa-2x" aria-hidden="true"></i></a>
      </li>
      <li><a href="/"><i class="fas fa-home"></i> Blog Home</a></li>
      {{ if .Params.categoryTitle }}
      <li><a href="/{{ .Params.category }}"><i class="fas fa-writing"></i>More {{ .Params.categoryTitle }}</a></li>
      {{ else }}
      <li><a href="/{{ .Params.category }}"><i class="fas fa-writing"></i>More {{ .Params.category | title }}</a></li>
      {{ end }}
    </ul>
    <hr>
  </div>
</header>

